# Visual Studio
.vs/
*.user
*.suo

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
**/[Pp]ackages/*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# User-specific files
*.user
*.rsuser

# Test results
TestResults/

